name: NodeJS with Grunt

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    

jobs:
  pre-build:
    runs-on: ubuntu-latest
    steps:
      - name: clean workspace
        run: |
          echo "cleaning workspace"
          echo "workspace clean"
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: echos
      run: |
        echo "hello world"
        echo "this is workflow"
      

    - name: Build
      run: |
        npm install
        npx ng build
